<h1>More ping pong!</h1>
<form class="" action='/result'>
  <div class="form-group">
    <label for="input_number">Enter a number to play ping pong!</label>
    <input id="input_number" name="input_number" class="form-control" type="number" min="0">
  </div>
  <button type="submit" class="btn-success">Play!</button>
</form>
